.vscode
.DS_Store
test/src/dcos-engine-test
_dist/
_output/
bin/
.env

pkg/operations/junit.xml
pkg/acsengine/templates.go
pkg/i18n/translations.go

_logs/
test/dcos-engine-test/report/TestReport.json
*.swp

# test outputs
cmd/_test_output

.idea
