dcos-engine.exe
dcos-engine
debug
_output/
_input/
.vscode
.DS_Store
test/user.env
user.env
test/dcos-engine-test/dcos-engine-test
.editorconfig
_dist/
bin/
.env
.coverprofile

test/junit/
test/dcos-engine-test/dcos-engine-test.exe
pkg/operations/junit.xml
pkg/operations/kubernetesupgrade/junit.xml
pkg/acsengine/templates.go
pkg/i18n/translations.go

_logs/
test/dcos-engine-test/report/TestReport.json
*.swp

# test outputs
cmd/_test_output

.idea
